body {background-image: url(../images/canvas.jpg);}

#masthead {padding-top: 24px;}

#primary-nav {
text-align: center;
padding: 18px;
}

.nav-link {padding-right: 18px; font-size: 22px; font-weight: 100;}
.nav-link:last {padding-right: 0;}


/* Generic centering class - Hurrah*/
.center {text-align: center;}


.content {
background-image: url(../images/canvas-white.jpg);
background-color: #fff;
border: 1px solid #eee;
border-radius: 6px;
margin-bottom: 24px;
box-shadow: 1px 1px 10px #999;
}

.navigation {
border-bottom: 1px solid #eee; 
border-radius: 6px 6px 0 0;
background-image: url(../images/canvas-nav.jpg);
}

/* if wider than 600px */
.post {padding: 20px;}
/* else */
@media only screen and (min-width: 600px) {
.post {padding: 40px;}
}


/* */
.datetime, .individual-post-date {color:#777;text-transform:uppercase;}
.individual-post-date {font-size: 16px;}





/* Paging Posts:  */
.paging a {
  opacity: 0.35; }
.paging a:hover {
  opacity: 0.7;
  background: none; }
.paging .left, .paging .right {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 60px; }
.paging .left {
  margin-left: -360px; }
.paging .right {
  margin-left: 340px; }
