<html>
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>


<div class="row">
  <div class="large-8 large-centered columns">

    {% include header.html %}  

		<nav class="navigation">
		</nav>
    	{% include links.html %}


    <div class="content">
		
      
      	
      	  <section class='post'>
       		{{ content }}
          </section>


    </div>


    {% include footer.html %}
	
  </div>
</div>


  </body>
</html>
