<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
  
<div class="row">
  <div class="large-8 large-centered columns">
  
    {% include header.html %}

		<nav class="navigation">
		</nav>
		
    	{% include links.html %}
    	
    	
    <div class="content">
		
          <section class='post'>
            <h1>{{ page.title }}</h1>

<div class="row">
<div class="large-4 columns">
        {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="th" alt="{{ page.title }}">{% else %} no feature image{% endif %}
        
<hr />
        
<a href="mailto:{{ page.email }}">{{ page.email }}</a>        

</div>

<div class="large-8 columns">
{{ content }}
</div>
      
</div>      
      

          </section>

    </div>

    {% include footer.html %}
    
</div>
</div>
    
  </body>
</html>